option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: Backend.wsgi:application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current
    DJANGO_SETTINGS_MODULE: Backend.settings

container_commands:
  01_list_directory:
    command: "ls -la /var/app/current/"
  02_print_python_path:
    command: "echo $PYTHONPATH"
  03_print_settings_module:
    command: "echo $DJANGO_SETTINGS_MODULE"